.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.important_line { 
    border-left: 2px solid #ccc; /* Параметры линии */ 
    margin-left: 10px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */ 
}
.two_side_line { 
    border-left: 2px solid #ccc; /* Параметры линии */
    border-right: 2px solid #ccc; /* Параметры линии */
    padding-top: 50px; /* Расстояние от линии до текста  */ 
    padding-right: 10px; /* Расстояние от линии до текста  */
    padding-left: 10px; /* Расстояние от линии до текста */ 
}

.text_frame { 
    border-left: 2px solid #ccc; /* Параметры линии */
    border-top: 2px solid #ccc; /* Параметры линии */
    border-right: 2px solid #ccc; /* Параметры линии */
    border-bottom: 2px solid #ccc; /* Параметры линии */
    padding-left: 60px; /* Расстояние от линии до текста */
    padding-top: 50px; /* Расстояние от линии до текста  */ 
    padding-right: 10px; /* Расстояние от линии до текста  */
    padding-bottom: 50px; /* Расстояние от линии до текста  */
    margin-top: 40px; /* Отступ сверху */ 
    margin-bottom: 80px; /* Отступ снизу */
}

.bordered{
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }

.dropdown-item:hover {
    background-image: none !important;
    background-color: rgba(23, 37, 108, 0.53) !important;
}

.top_contaner {
    position:relative;
}   
